*{
 
 padding:0;
 margin:0;
 
}

body{
   overflow-x:hidden;
   font family: 'Open Sans', sans-serif;
   text-rendering: optimizelegibilty !important;
}

a{
   text-decoration: none;
   transition: all 500ms ease-in-out;
   
}


h1, h2, h4{
   font-family: 'PT Sans Narrow', Ariel, sans-serif;
   text-transforms: uppercase;
   font-weight: 500;
   padding-top: 10px;
}


p{
   font-size:15px;
   line-height: 25px;
}

.btn{
   transition: all 300ms ease-in-out;
   font-weight: 500 ! important;
   text-transform: uppercase;
}

.btn:hover {
      background-color: #ededed ! important;
      color: #3c3c3 ! important;
      border: 1px solid #fff ! important;
}
 

/*Navigation*/


.navabar {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500;
}

/*HEADER*/

.header{
     box-sizing: border-box;
}

.slideshow-container{
     position: relative;
     margin: auto;
     
}


.header  .myimages  img{
    display: block;
    margin-left: auto;
}


.header